.profile__info {
    max-width: 336px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:896px) {
    .profile__info {
        max-width: 100%;
        padding-top: 29px;
        margin-left: 60px;
        margin-right: 45px;
    }
}