.auth__tittle {
	font-family: "Inter", "Arial", sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	margin: 0 auto 0;
};

@media screen and (max-width:320px) {
	.auth__tittle {
		font-size: 20px;
		line-height: 24.2px;
	}
}