.popup__button-image {
    background-image: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: transparent;
    top: -40px;
    right: -40px;
    background-size: contain;
    border: none;
}

.popup__button-image:hover {
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 597px) {
    .popup__button-image  {
        width: 20px;
        height: 20px;
        top: -35px;
        right: -5px;
    }
}

@media screen and (max-width: 320px) {
    .popup__button-image {
        right: 0;
    } 
}
