.popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.popup_image {
    background-color: rgba(0,0,0,.9);
}